<div class="item">
    <img class="first-slide" src="./img/slide1.png" alt="slider">

    <div class="container">
        <div class="carousel-caption">

            <div class="slide1">
            <div class="col-lg-8 text col-lg-offset-1">
                <h1>Правду в суде не утаиш</h1>

                <p>Бесплатное представление интересов в суде,
                    бесплатное написание искового заявления,
                    бесплатное составление претензии, писем.
                    Для социально незащищенной категории
                    граждан России.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1">
                <form action="mail.php">
                    <input type="text" placeholder="Ваше имя">
                    <input type="text" placeholder="Ваш Телефон">
                    <input type="text" placeholder="Вас e-mail">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <input class="mybutton" type="button" value="Оставить заявку">
                </form>
            </div>

            </div>



        </div>
    </div>
</div>