<div class="sliders">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li title="about" data-target="#myCarousel" data-slide-to="0"  class="active"></li>
            <li title="price"  data-target="#myCarousel" data-slide-to="1"  class=""></li>
            <li title="terms"  data-target="#myCarousel" data-slide-to="2"  class=""></li>
            <li title="step"  data-target="#myCarousel" data-slide-to="3"  class=""></li>
            <li title="video"  data-target="#myCarousel" data-slide-to="4"  class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
           //= about.html
           //= price.html
           //= terms.html
           //= step.html
           //= video.html


        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>