<div class="item" id="price">
    <img class="first-slide" src="./img/slide2.png" alt="slider">

    <div class="container">
        <div class="carousel-caption col-lg-offset-1">

            <div class="item-wrap">
            <div class="item-square">
                <div class="square"></div>
                <span>0 руб.</span>
            </div>
                <h3>Консультации по телефону</h3>
            </div>

            <div class="item-wrap">
                <div class="item-square">
                    <div class="square"></div>
                    <span>0 руб.</span>
                </div>
                <h3>Консультации устные</h3>
            </div>

            <div class="item-wrap">
                <div class="item-square">
                    <div class="square"></div>
                    <span>0 руб.</span>
                </div>
                <h3>Написание претензий</h3>
            </div>

            <div class="item-wrap">
                <div class="item-square">
                    <div class="square"></div>
                    <span>0 руб.</span>
                </div>
                <h3>Составление искового заявления</h3>
            </div>

        </div>
    </div>
</div>