<div class="item slide3" id="terms">
    <img class="first-slide" src="./img/slide3.png" alt="slider">

    <div class="container">
        <div class="carousel-caption col-lg-10 col-lg-offset-1">
            <h2>Бесплатная юридическая помощь.<br>
                Условия получения</h2>

            <h3>Услуга предоставляется только по гражданский делам</h3>
            <br>
            <p>Право на получение бесплатной юридической помощи имеют граждане льготных категорий: многодетные семьи, инвалиды 1 и 2 группы проживающие на территории ХМАО-Югра. Для льготной категории граждан проживающих за пределами Сургутского р-н, города Сургута возможно дистанционная помощь. Юристы консультируют по телефону только на "входящий" звонок, сами не перезванивают.</p>
            <br>
            <h4>проект финансируется без участия государства</h4>
        <span>*Безвозмездное оказание юридической помощи осуществляется за счет собственных средств заработанных Правозащитной Организацией Правоведы НП.
Бесплатное представление в Суде, написания искового заявления осуществляется при наличии средств на данные проект в момент обращения гражданина.</span>
        </div>
    </div>
</div>