.content
	background-image: url("../img/bg.png")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	height: 100%
	position: fixed
	width: 100%


	min-height: 635px
	
	.sliders
		width: 90%
		margin: auto
		padding: 70px 0

	.carousel-indicators
		li
			width: 20px
			height: 20px
			margin: 10px
			background-color: #cccccc
	.carousel-caption
		top: 20px
		left: 30px
		text-align: justify
		color: black

		h1
			color: #0C0D5E
			font-size: 4vw
			text-align: left
			text-transform: uppercase
			margin-top: 0

		p
			font-size: 2vw
			margin-top: 10%
		form
			background-color: rgba(0, 0, 0, 0.5)
			padding: 20px
			min-width: 270px
			input
				opacity: 1
				width: 100%
				padding: 10px
				margin: 15px 0
				&.mybutton

					color: white
					border: none
					background: #050527
					background: -moz-linear-gradient(top,  #050527 0%, #0c0c29 16%, #07239c 91%)
					background: -webkit-linear-gradient(top,  #050527 0%,#0c0c29 16%,#07239c 91%)
					background: linear-gradient(to bottom,  #050527 0%,#0c0c29 16%,#07239c 91%)
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050527', endColorstr='#07239c',GradientType=0 )










.footer
	@extend .menu
	position: absolute
	width: 100%
	left: 0
	bottom: 0




